@font-face {
    font-family: LyonText;
    src: url(/Fonts/LyonText-Regular-Web.d7bfb4be.woff2);
}

@font-face {
    font-family: Inter-Var;
    src: url(/Fonts/Inter-Var.730e8169.woff2);
}

body{

    margin: 0;
}

.Logo{
    height: 32px;
    margin-right: 5px;
}

nav{
    display: flex;
    font-family: Inter-Var;
    font-size: 14px;
    font-weight: 544;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    padding: 0px 1rem;
}

.Box-left{
    display: flex;
    align-items: center;
}

.button-opt-left, .exception{
    display: inline;
    color: #050505;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    padding: 10px 10px;
    border-radius: 4px;
}

.button-opt-left::after{
    margin-left: 5px;
    font-weight: 800;
    height: 10px;
    width: 10px;
    display: inline-block;
    content: '';
    background: url(Images/nav-caret.svg) no-repeat center;
}

.Box-right{
    display: flex;
    gap: 1rem;
    align-items: center; 
}

.button-opt-right, .request{
    color: #050505;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 5px;
    border-radius: 4px;
}

.request{
    border-right: 1px solid #e5e5e5;
    padding-right: 25px;
}

.button-opt-last{
    font-family: Inter-Var;
    font-size: 13.5px;
    font-weight: 500;
    height: 30px;
    padding: 4px 11px;
    border: none;
    border-radius: 5px;
    background-color: #121212;
    color: #fff;

}
a,button{
    transition-duration: 0.4s;
}

a, button:hover{
    cursor: pointer;
}

a:hover{
    background-color: #f7f7f7;
}

button:hover{
    background-color: #333;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 400px;
}

h1{
    font-size: 76.5px;
    font-family: Inter-Var, sans-serif;
    font-weight: 700;
    margin: 0;
    color: #121212;
}


.text-h1 {
    margin: 0;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    width: 790px;
    text-align: center;
}

.text-h2{
    text-align: center;
    height: 60px;
    width: 35rem;
    
}

h2{
    font-size: 24px;
    font-family: Inter-Var;
    font-weight: 470;
}

.button-opt-last-2{
    
    font-family: Inter-Var;
    font-size: 16px;
    font-weight: 500;
    height: 36px;
    padding: 4px 11px;
    border: none;
    border-radius: 5px;
    background-color: #121212;
    color: #fff;
}

.button-opt-last-2::after{
    content: " ->";
}

.desktop-img{
    display: block;
    height: 640px;
    width: 1022px;
}